<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="org.springframework.boot.issues" level="debug"/>

  <logger name="org.springframework.boot.actuate.audit.listener" level="warn"/>

</configuration>
