<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Login Page</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container">
			<h1>Login Page</h1>
			<form th:action="@{/login}" method="post">
				<input placeholder="Username" name="username" type="text" autofocus="autofocus"/>
				<input placeholder="Password" name="password" type="password"/>
				<input class="btn btn-success" type="submit" value="Sign In"/>
			</form>
		</div>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>